<mat-nav-list class="sidebar__nav">
  <a *ngIf="!(isAuthenticated$ | async)"
     mat-list-item routerLink="/signup"
     class="sidebar__nav__item"
     (click)="onClose()"
  >
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a *ngIf="!(isAuthenticated$ | async)"
     mat-list-item routerLink="/login"
     class="sidebar__nav__item" (click)="onClose()"
  >
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isAuthenticated$ | async"
     mat-list-item routerLink="/training"
     class="sidebar__nav__item" (click)="onClose()"
  >
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item (click)="onLogout()" *ngIf="isAuthenticated$ | async" class="sidebar__nav__item">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
