<mat-toolbar color="primary" class="header">
  <button mat-button (click)="onSidenavToggle()" fxLayout fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
  <div><a routerLink="/">LOGO</a></div>
  <nav class="header__nav" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="header__nav__items" fxLayout fxLayoutGap="12px">
      <li *ngIf="!isAuthorized" class="nav-item"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuthorized" class="nav-item"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuthorized" class="nav-item"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuthorized" (click)="onLogout()" class="nav-item"><a>Logout</a></li>
    </ul>
  </nav>
</mat-toolbar>
