<section class="signup">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
    class="signup-form"
  >
    <mat-form-field>
      <input
        type="email"
        ngModel
        matInput
        placeholder="Your email"
        name="email"
        required
        email
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        (blur)="focused = false"
        (focus)="focused = true"
        type="password"
        ngModel
        matInput
        placeholder="Your password"
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      >
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
      <mat-error *ngIf="pwInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error
        *ngIf="pwInput.hasError('minlength') && !focused"
      >
        Should be at least 6 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Your birthday" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate">
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-checkbox
      ngModel
      name="agree"
      required
      color="primary"
      class="signup-form__checkbox"
    >
      I agree with Terms and Conditions.
    </mat-checkbox>
    <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Submit</button>
  </form>
</section>
